<!DOCTYPE html>
<html lang="en">
{% extends 'shop/base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>{{ product.name }}</title>
    {% endblock %}
</head>
<body>
{% block content %}
    <div class="product-detail">
        <img src="{% if product.image %} {{ product.image.url }} {% endif %}">
        <h1>{{ product.name }}</h1>
        <h2><a href="{{ product.category.get_absolute_url }}">{{ product.category }}</a></h2>
        <p class="price">{{ product.price }} ₽</p>
        <p>{{ product.description|linebreaks }}</p>
        <form action="{% url 'cart:cart_add' product.id %}" method="post">
            {{ cart_product_form }}
            {% csrf_token %}
            <input type="submit" value="Добавить в корзину">
        </form>
    </div>
{% endblock %}
</body>
</html>